@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Lustria&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"); */

@font-face {
    font-family: "Lustria";
    src: url("../assets/Lustria/Lustria-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Garet";
    src: url("../assets/garet/Garet-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    @apply transition-all;
}

.cover-makanan {
    background-image: linear-gradient(
            to top,
            rgb(180, 180, 180),
            rgb(180, 180, 180)
        ),
        url("../assets/betafood.jpeg");
}

.cover-makanan-demo {
    background-image: linear-gradient(
            to top,
            rgb(199, 199, 199),
            rgb(199, 199, 199)
        ),
        url("../assets/sigmafood.jpeg");
}

.btn {
    @apply bg-green-700 p-2 px-7 text-xl rounded-md hover:bg-green-500 focus:bg-green-500 hover:scale-110 transition-all disabled:dark:opacity-5 disabled:bg-green-800 text-white;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-body: 200, 200, 200;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 24, 24, 27;
        --background-end-rgb: 24, 24, 27;
        --background-body: 24, 24, 27;
    }
}

body {
    @apply bg-zinc-300;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
